<?xml version="1.0" encoding="UTF-8"?>
<config>
	<base_url>http://localhost:8984/иро</base_url>
	<modules>
		<module>
			<name>вывод</name>
			<namespace>'out.iroio.ru'</namespace>
			<rel_path>'output.xqm'</rel_path>
			<abs_path></abs_path>
		</module>
		<module>
			<name>выгрузка</name>
			<namespace>'download.iroio.ru'</namespace>
			<rel_path>'download.xqm'</rel_path>
			<abs_path></abs_path>
		</module>
		<module>
			<name>rdfcons</name>
			<namespace>'rdf.iroio.ru'</namespace>
			<rel_path>'rdf.xqm'</rel_path>
			<abs_path></abs_path>
		</module>        
	</modules>
	<dictionaries>
		<dictionary>
			<name>schools</name>
			<location>http://iro.od37.ru/dic/schools.xml</location>
		</dictionary>
		<dictionary>
			<name>mo</name>
			<location>http://iro.od37.ru/dic/mo.xml</location>
		</dictionary>
	</dictionaries>
</config>