<?xml version="1.0" encoding="UTF-8"?>
<config>
	<parts>
		<part alias = "кпк">
			<form>
				<name>зачисление</name>
				<alias>Приказ о зачислении</alias>
			</form>
			<form>
				<name>импорт</name>
				<alias>Сведения для дистанта</alias>
			</form>
			<form>
				<name>сведения</name>
				<alias>Сведения для бухгалтерии</alias>
			</form>
			<form>
				<name>зачет</name>
				<alias>Зачетная ведомость</alias>
			</form>
			<form>
				<name>отчисление</name>
				<alias>Приказ об окончании</alias>
			</form>
      <form>
				<name>лист</name>
				<alias>Регистрационный лист</alias>
			</form>
			<form>
				<name>файлы</name>
				<alias>База данных слушателей данного КПК</alias>
			</form>
			<form>
				<name>сводная-итоги</name>
				<alias>Отчет 2 Порайонка</alias>
				<params>&amp;строки=Муниципалитет&amp;столбцы=Пол&amp;поля=.*</params>
			</form>
			<form>
				<name>сводная-итоги</name>
				<alias>Отчет-3 ФГОС</alias>
				<params>&amp;строки=Муниципалитет&amp;столбцы=Тип организации&amp;поля=.*</params>
			</form>
			<form>
				<name>сводная-итоги</name>
				<alias>Отчет-7 Тип ОО-Пол</alias>
				<params>&amp;строки=Тип организации&amp;столбцы=Пол&amp;поля=.*</params>
			</form>
			<form>
				<name>сводная-итоги</name>
				<alias>Отчет-8 Пол-Возраст</alias>
				<params>&amp;строки=Пол&amp;столбцы=Возраст&amp;поля=.*</params>
			</form>
      <form>
				<name>анкеты-по-шаблону</name>
				<alias>Согласие на обработку</alias>
				<params>&amp;шаблон=http://iro37.ru/res/tpl/Шаблон_персональные_данные.docx&amp;папка=персональные\&amp;префикс=персональные_</params>
			</form>
		</part>
		<part>
			<name>расписание</name>
		</part>
	</parts>
	<usertypes>
		<usertype alias="руководитель курсов">
			<part>кпк</part>
			<part>расписание</part>
		</usertype>
		<usertype alias="заведующий кафедрой">
			<part>расписание</part>
			<part>отчеты</part>
		</usertype>
	</usertypes>
	<modules>
		<module>
			<name>вывод</name>
			<namespace>'out.iroio.ru'</namespace>
			<rel_path>'output.xqm'</rel_path>
			<abs_path></abs_path>
			<functions>
				<function>
				</function>
			</functions>
		</module>
		<module>
			<name>выгрузка</name>
			<namespace>'http://www.iroio.ru/выгрузка'</namespace>
			<rel_path>'download.xqm'</rel_path>
			<abs_path></abs_path>
		</module>
		<module>
			<name>rdfxml</name>
			<namespace>'rdf.iroio.ru'</namespace>
			<rel_path>'rdf.xqm'</rel_path>
			<abs_path></abs_path>
		</module>
        <module>
			<name>кпк</name>
			<namespace>'http://www.iroio.ru/кпк'</namespace>
			<rel_path>'kpk.xqm'</rel_path>
			<abs_path></abs_path>
		</module>
		<module>
			<name>курс</name>
			<namespace>'kurs.iroio.ru'</namespace>
			<rel_path>'курс.xqm'</rel_path>
			<abs_path></abs_path>
		</module>
	</modules>
	<dictionaries>
		<dictionary>
			<name>oo</name>
			<location>http://dbx.iro37.ru/иро/данные/образовательные организации</location>
		</dictionary>  
		<dictionary>
		<dictionary>
			<name>do</name>
			<location>http://dbx.iro37.ru/иро/данные/дошкольные образовательные учреждения</location>
		</dictionary> 
			<name>mo</name>
			<location>http://dbx.iro37.ru/иро/данные/муниципальные образования</location>
		</dictionary>
	</dictionaries>
</config>